h1 {
    color: black;
}
body {
    margin:0;
    padding:0;
    background-color: #44c767;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    background-color: white;
    padding-bottom: 3rem;
}

.cvCard {
    display: flex;
    flex-flow: row nowrap;

    border: gray dashed;
    background-color: aliceblue; 
}

.kortInfo {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    
}

img {
    float: left;
    margin: 2rem;
    border-radius: 50%;
    height: 330px;
}

#category_buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover {
	background-color:#50ed7a;
	transform: scale(1.1);
}

#infospace {
    display: flex;
    flex-flow: column nowrap;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#bottom {
    display: flex;
    justify-content: center;

    color: white;
    background-color: #44c767;
    padding-top: 10px;
    padding-bottom: 30px;
}