h1 {
    color: black;
}

body {
    margin:0;
    padding:0;
    background-color: seagreen;
}
header{
    position:fixed;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: seagreen;
}
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding-top: 75px;
}

.cvCard {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 50vw;
}
.cvCard_content {
    display: flex;
    flex-flow: row nowrap;
    
    border: gray dashed;
    background-color: aliceblue; 
}

.kortInfo {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    
}

img {
    float: left;
    margin: 2rem;
    border-radius: 50%;
    height: 330px;
}

.category_button {
    margin-top: 10px;
    margin-bottom: 10px;
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	font-weight:bold;
	padding:15px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.category_button:hover {
	background-color:#50ed7a;
	transform: scale(1.1);
}

#infospace {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    padding-left: 10px;
    min-height: 70vh;
    padding-right: 10px;
}

.bottom {
    display: flex;
    justify-content: center;

    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}

.rotating_img {
    animation: rotation 3s infinite linear;
    width: 30vmin;
    height: 30vmin;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}