.hamburgerButton {
    margin-left: 1em;
    background-color: transparent;
    border: none;
    width: 35px;
    height: 35px;
    display: none;
    
}
@media screen and (max-width: 600px) {
    .hamburgerButton{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hamburgerButton:hover {
    fill: rgba(0, 0, 0, 0.65);
    filter: brightness(115%);
    
    border-bottom: 1px solid blue;
}