.header {
    --background-color : rgb(215, 250, 227);
    position: static;
    background-color: var(--background-color);
    width: 100%;
    color: black;
    padding-bottom: 3px;
}
.nav {
    display: flex;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: flex-start;
    padding-right: 50px;
}
@media screen and (max-width: 600px) {
    .nav{
        display: none;
    }
}

.nav_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    align-items: center;
    justify-content: flex-start;
    padding-right: 50px;
    display: none;
}
@media screen and (max-width: 600px) {
    .nav_mobile{
        display: flex;
    }
}

.subpage_link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 125px;
    font-size: 20px;
}

.subpage_link:hover {
    font-size: 22px;
    font-weight: 600;
    filter: brightness(115%);
    border-bottom: 1px solid blue;
}


.logo_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    padding: 3px;
}

.logo_image {
    width: auto;
    height: 100%;
}

.svg {
    fill: black;
    width: 300px;
    height: 300px;
}

